@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

@media screen and (max-width: 600px) { 

    .col-xl-4 img { display: none; } 
    .display-4 { font-size: 2.5rem; }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

:root {
    --clr: #222327;
    --open: #eef3f8;
    --themeBlue: #49BEDE;
    --whitesmoke: #F5F5F5;
    --lightblue: #5ccee9;
    --mediumblue: #73beff;
}

body {
    background-color: var(--whitesmoke);
}

.navbar {
    background-color: #fff;
    width: 100%;
}

nav {
    display: flex;
    width: 80%;
    margin: auto;
}

.navbar-toggler {
    color: var(--mediumblue);
    background-color: var(--mediumblue);
}


.navbar-brand  img {
    width: 60px;
    height: 60px;
}

nav a {
    color: var(--lightblue);
    font-weight: 600;
}

nav a:hover {
    color: var(--mediumblue);
}


#ul-head {
    display: flex;
    align-items: center;
}

#log-in-btn ion-icon {
    margin-right: 10px;
}

.bluebtn {
    background: rgb(115,190,255);
    background: linear-gradient(90deg, rgba(115,190,255,1) 0%, rgba(92,206,233,1) 100%);
    color: #fff;
}

#log-in-btn {
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-size: 1rem;
    font-weight: 600;
}

.jumbotron {
    width: 80%;
    margin: 10 0 10 0;
    padding: 10 0 10 0;
    background-color: var(--whitesmoke);
}

.jumbotron h1 {
    font-weight: 500;
}

.my-4 {
    background-color: var(--clr);
}

.jumbotron .lead {
    font-weight: 400;
}

#jumbo-div {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

#jumbo-div img {
    max-width: 75%;
    margin: auto;
}
